<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/settings.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <div class="row">
        <div class="container">
            <h1>Account and settings</h1>
            <form action="{% url 'UserRegisterForm' %} method="POST" id="registrationForm" enctype="multipart/form-data">
                {% csrf_token %}
                {{register_form}}
                <button> Register</button>
            </form>
            
            <form method="POST" action="{% url 'login' %}" method="POST" id="loginForm">
                {% csrf_token %}
                <label for="">Username</label>
                <input type="text" name="username" placeholder="Username...">
            
                <label for="">Password</label>
                <input type="password" name="password" placeholder="Password...">
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</body>