{% extends "base.html" %} {% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <!-- navbar -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- font -->
  <link
    href="https://fonts.googleapis.com/css?family=Nunito"
    rel="stylesheet"
  />
</head>

{% block headers %}
<body>
  <title>Homepage</title>
  {% endblock headers %} {% block content %}
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
      >&times;
    </a>
    <a href="#">Home</a>
    <a href="#">Planner</a>
    <a href="#">Timer</a>
    <a href="#">Sign Out</a>
  </div>

  <div class="logo">
    <p>Logo goes here</p>
  </div>

  <span style="font-size: 30px; cursor: pointer" onclick="openNav()"
    >&#9776;</span
  >

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>
  <div class="content">
    <div class="columns">
      <div class="column" id="ToDoList">
          <h1><center>To-Do List</center></h1>
      </div>
      <div class="column" id="Timer">
          <h1><center>Timer</center></h1>
      </div>
    </div>
  </div>

  {% endblock content%}
</body>
