{% extends "base.html" %}
{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<head>

{% block headers %}
    <title>Homepage</title>
{% endblock headers %}

{% block content %}
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Home</a>
    <a href="#">Planner</a>
    <a href="#">Timer</a>
    <a href="#">Sign Out</a>
  </div>
  
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>
<div class="content">
    <div class="columns">
        <div class="column" id="column1">Column 1</div>
        <div class="column" id="column2">Column 2</div>
    </div>
</div>

{% endblock content%}