<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class='barcontainer'>
        <div class='barcontainerheader'>
         
        </div>
        <div class='bar' style='height:12%'>
          bar
          <div class='barlabel'>
          
          </div>
        </div>
        <div class='bar' style='height: 16%'>
          bar
          <div class='barlabel'>
           
          </div>
        </div>
        <div class='bar' style='height: 22%'>
          bar
          <div class='barlabel'>
            
          </div>
        </div>
        <div class='bar' style='height:30%'>
          bar
          <div class='barlabel'>
             </div>
        </div>
        <div class='bar' style='height:45%'>
          bar
          <div class='barlabel'>
            
          </div>
        </div>
        <div class='bar' style='height:80%'>
          bar
          <div class='barlabel'>
            
          </div>
        </div>
    </div>

</body>
</html>