<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>PROFILE NAME</h1>
  <div class="container">
    <form action="/action_page.php">
        <label>Tasks worked on so far:</label> 
        <div class="input">
           <input type="number" id="quantity" name="quantity"><br> 
        </div>
        <div class="pie animate" style="--p:90;--c:#AE6E32">90%</div><br>
        <input type="reset" value="Reset">
        <div class="submit_button">
            <input type="submit" value="Submit">
        </div>
    </form>
  </div>
  <div class='barcontainer'>
    <div class='barcontainerheader'> 
    </div>
    <div class='bar' style='height:12%'>
    </div>
    <div class='bar' style='height: 16%'>
    </div>
    <div class='bar' style='height: 22%'>
    </div>
    <div class='bar' style='height:30%'>
    </div>
    <div class='bar' style='height:45%'>
    </div>
    <div class='bar' style='height:100%'>
    </div>
    <div class='bar' style='height:70%'>
    </div>
    <span class="label mon">MON</span>
    <span class="label tue">TUE</span>
    <span class="label wed">WED</span>
    <span class="label thur">THUR</span>
    <span class="label fri">FRI</span>
    <span class="label sat">SAT</span>
    <span class="label sun">SUN</span>
  </div>
</body>
</html>