* {
  font-family: Nunito;
}

body{
  background-color: #FBEFDF;
  font-family: Nunito;
}

/* navbar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #8D6852;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* the timer */
#container {
  position: absolute;
  right: 15%;
  top: 100px;
  border-radius: 25px;
  width: 375px;
  margin: 20px auto;
  padding: 30px;
  padding-left: 15px;
  padding-top: 15px;
  text-align: center;
  background: #cfa57e;
}

#timer {
  color: white;
  font-size: 50px;
  margin: 10px auto;
  border: 5px solid white;
  /* border-radius:25px; */
  /* coffee cup */
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 10px solid gray;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#time {
  margin-top: 70px;
  z-index: 1;
  position: relative;
}

#filler {
  background: #8D6852;
  height: 0px;
  width: 200px;
  position: absolute;
  bottom: 0;
}

#buttons button {
  background: #70b0ec;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  width: 90px;
  margin: 10px auto;
  font-size: 14px;
  font-family: Nunito;
  height: 50px;
  border-radius: 50px;
}

#buttons button#shortBreak {
  background: #75f1a4;
}
#buttons button#shortBreak:hover {
  background: none;
  border: solid white;
  transition: all 0.1s;
  color: white;
}


#buttons button#longBreak {
  background: #69c66b;
}
#buttons button#longBreak:hover {
  background: none;
  border: solid white;
  transition: all 0.1s;
  color: white;
}

#buttons button#stop {
  background: #f36188;
}
#buttons button#stop:hover {
  background: none;
  border: solid white;
  transition: all 0.1s;
  color: white;
}

#time {
  margin-top: 70px;
  z-index: 1;
  position: relative;
}

#filler {
  background: #8D6852;
  height: 0px;
  width: 200px;
  position: absolute;
  bottom: 0;
}

#buttons button {
  background: #70b0ec;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  width: 90px;
  margin: 10px auto;
  font-size: 14px;
  font-family: Nunito;
  height: 50px;
  border-radius: 50px;
}
#buttons button:hover {
  background: none;
  border: solid white;
  transition: all 0.1s;
  color: white;
}



label {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  display: block;
}
.btn {
  background-color: #c7b396;
  color: #000;
  padding: 12px;
  margin: 10px 0;
  width: 100%;
  border: none;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  font-size: 17px;
}
.btn:hover {
  background: none;
  border: solid white;
  transition: all 0.1s;
  color: white;
}
input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 3px;
}
input[type="tel"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 3px;
}




input[type=text], input[type=password]{
	width:100%;
	padding:15px;
	margin:5px 0 22px 0;
	display:inline-block;
	border:none;
	background:#FFF;
}
input[type=text]:focus,input[type=password]:focus{
	background-color:#666;
	outline:none;
}
hr{
	border:1px solid #000;
}
.registerbtn{
	background-color:#C7B396;
	color:rgb(0, 0, 0);
	font-size: 15px;
	padding: 10px 20px;
	margin:8px 0;
	border:none;
	cursor:pointer;
	width:100%;
	opacity:0.9;
}
.registerbtn:hover{
	background-color:#977644;
	color:rgb(0, 0, 0);
}
.btn{
	background-color:#C7B396;
	color:rgb(0, 0, 0);
	font-size: 15px;
	padding: 10px 20px;
	margin:8px 0;
	border:none;
	cursor:pointer;
	width:100%;
	opacity:0.9;
}
.btn:hover{
	background-color:#977644;
	color:rgb(0, 0, 0);
}
#section1 {
    height: 800px;
}
  
#section2 {
    height: 800px;
}


.todolist {
  width: 40%;
  padding-left: 50px;
  padding-top: 60px;
}


h1 {
  font-size: 40px;
}

.submit{
  background-color:#C7B396;
	color:rgb(0, 0, 0);
	font-size: 15px;
	padding: 10px 20px;
	margin:8px 0;
	border:none;
	cursor:pointer;
	width:100%;
	opacity:0.9;
}
.submit:hover{
  background-color:#977644;
	color:rgb(0, 0, 0);
}