* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.logo {
    position: absolute;
    top:3%;
    left:50%;
    transform: translate(-50%, -50%);
}

.content {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    background: yellow;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: solid black 3px;
}


.columns {
    width: 75%;
    height: 700px;

    display: flex;
    flex-direction: row;

    background-color: green;
    border: solid black 3px;
    padding: 5px;

}

.column {
    width: 70%;
    height: 700px;
    background-color: #F2BAC9;
    border: solid black 3px;
}

/* navbar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F3F3F3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    font-family: 'Nunito';
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #BAD7F2;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }