* {
  font-family: Nunito;
}

body {
  margin: 0;
  background: #cfa57e;
  font-family: Nunito;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 30px;
  padding-top: 50px;
  gap: 26px;
}

.note {
  background-color: #fbefdf;
  height: 200px;
  box-sizing: border-box;
  padding: 16px;
  padding-top: 50px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  resize: none;
  font-family: Nunito;
  font-size: 16px;
}
.note:hover {
  color: #8d6852;
}

.add-note {
  height: 200px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 120px;
  font-family: Nunito;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 0.2s;
}


.add-note:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* navbar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #8d6852;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 100px;
}