@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fbefdf;
  font-family: Nunito;
}

/* navbar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #8d6852;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="text"],
input[type="password"] {
  width: 70%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #fff;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #666;
  outline: none;
}
hr {
  border: 1px solid #000;
}
.registerbtn {
  background-color: #c7b396;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  opacity: 0.9;
}
.registerbtn:hover {
  background-color: #977644;
  color: rgb(0, 0, 0);
}
.btn {
  background-color: #c7b396;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  opacity: 0.9;
}
.btn:hover {
  background-color: #977644;
  color: rgb(0, 0, 0);
}
a {
  color: dodgerblue;
}
#section1 {
  height: 800px;
}

#section2 {
  height: 800px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
